* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Make sure the body takes the full height */
}

header {
  background-color: #578c97;
  color: white;
  padding: 10x;
  text-align: center;
}

#map {
  height: calc(100% - 100px); /* Adjust height to fit the map between header and footer */
}


footer {
  background: #578c97;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Style the dropdown */
#yearSelect {
  background-color: rgb(247, 250, 251); /* Background color */
  color: #131313; /* Text color */
  padding: 5px; /* Padding inside the dropdown */
  border: 1px solid #131313; /* Border color */
  border-radius: 2px;
  font-size: 18px; /* Font size */
  text-align: center;
}

label[for="yearSelect"] {
  font-size: 18px; /* Change this value to adjust the label size */
  font-weight: bold; /* Optional: make the label text bold */
  color: #333; /* Optional: change the text color */
  margin-right: 10px; /* Optional: add some space between the label and the dropdown */
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */
.info.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.info.legend i {
  width: 100%;
  height: 20px;
  float: left;
  margin-right: 8px;
}

.legend {
  color: #555;
  padding: 6px 8px;
  font: 15px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
  display: flex;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
  margin-right: 5px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

h1 {
  text-align: center;
}
